.cookie-modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.393);
  display: none;
}

.cookie-modal.active {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.cookie-modal-content {
  width: 85%;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 12px;
}

@media(min-width: 768px) {
  .cookie-modal-content {
    width: 40%;
  }
}