.add-ingredient-container {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    min-height: 100vh;
    animation: fadeInIngredientForm;
    animation-duration: .8s;
    animation-fill-mode: forwards;
}


.add-ingredient-container-cancel {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 102
}

.allergen-container.inactive {
    display: none;
}

@keyframes fadeInIngredientForm {
    from {
        top: -500%;
    } to {
        top: 55px;
    }
}