#single-ingredient-form {
  position: absolute;
  z-index: 101;
  top: 0;
  left: -500%;
  min-height: 110vh;
  width: 100%;
  transition: all 0.4s ease-in-out;
}

@media (min-width: 1366px) {
  #single-ingredient-form {
    width: 35%;
    min-height: 100vh;
  }
}

#single-ingredient-form.active {
  left: 0;
}

#close-btn {
  position: fixed;
  right: 20px;
  top: 20px;
}
